@model Microsoft.AspNetCore.Identity.IdentityRole

<h2>Delete Role</h2>

<p>Are you sure you want to delete the role @Model.Name?</p>

<form asp-action="Delete" asp-route-roleId="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("GetAllRoles", "Role")" class="btn btn-default">Cancel</a>
</form>
