@model RegisterUserViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="container mt-5">
    <h2>Add new Employee</h2>
    <form asp-controller="User" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input type="text" class="form-control" asp-for="FirstName" placeholder="John" style="width: 300px;">
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" class="form-control" asp-for="LastName" placeholder="Smith" style="width: 300px;">
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="text" class="form-control" asp-for="Email" placeholder="John@yahoo.com" style="width: 300px;">
        </div>
        <div class="form-group">
            <label asp-for="DOB"></label>
            <input type="date" class="form-control" asp-for="DOB" value="@DateTime.Today.ToString("yyyy-MM-dd")" style="width: 300px;">
        </div>
        <div class="form-group">
            <label asp-for="Phone"></label>
            <input type="text" class="form-control" asp-for="Phone" placeholder="0969000000" style="width: 300px;">
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" placeholder="********" style="width: 300px;">
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword" placeholder="********" style="width: 300px;">
        </div>
        <div class="form-group" style="width: 300px;">
            <label asp-for="DepartmentId" class="control-label"></label>
            <select asp-for="DepartmentId" asp-items="@Model.DepartmentList" class="form-control"></select>
        </div>


        <p></p>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a class="btn btn-outline-info" asp-action="Index">Back</a>
        </div>
        

            </form>